.main{
    background: rgb(250, 250, 250);
    height: 90vh;
}

.input{
    width: 250px;

}
.btn-register{
    margin-top: 20px;
    background: rgb(182, 234, 255);
    margin-right: 10px;
}
.btn-login{
    margin-top: 20px;
    margin-right: 10px;
    background: rgb(175, 253, 161);
}
.content{
    text-align: center;
    padding: 30px;
}
.btn{
    margin: 5px;
}
.error-data{
    border-color: red;
}
/* Стилизация страницы контакта */
.personal-page{
    margin: 0px;
}
.header{
    background: rgb(240, 240, 240);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}
.header-setting-menu{
    display: flex;
    width: 280px;
    justify-content: space-between;
    align-items: center;
  
}
.container{
    display: flex;
    width: 90vw;
    justify-content: center;

}
.select{
    width: 250px;
}
.active{
    color: green;
    font-size: 16px;
}

.menu{
    width: 25%;
    display: flex;
    flex-direction: column;

}
.menu-link{
    margin: 30px;
}
.menu-link div{
    margin-bottom: 15px;
    cursor: pointer;

}
.menu-link :hover{
    color: rgb(3, 5, 106);   
    font-weight: bold;
}
.body{
    padding-top: 30px;
    width: 100%;
    padding-right: 20px;

}
.exit{
    cursor: pointer;
    font-weight: bold;
}
.body-content{
    display: flex;
}
.body-name{
    padding-left: 20px;
}
.edit-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.edit{
    cursor: pointer;
}
.edit-table{
    background: rgb(243, 243, 243);
    width: 100%;
    text-align: center;

}
.table{
    width: 90%;
    border: 1px solid rebeccapurple;
    text-align: center;
}
.table-main{
    width: 80%;
     margin: 0 auto;
    font-size: 17px;
   
}

.contact-info{
    width: 100%;
}
.tr-main{
   background: rgba(218, 218, 218, 0.242);

}
td{
    text-align: center;
    padding: 8px;
    border-radius: 20px;
}
.name-person{
    padding: 0 20px;
    font-size: 24px;
    font-weight: bold;
}
.status {
    color: rgb(151, 151, 151);
    padding-left: 20px;
    margin-top: 10px;
    cursor: pointer;
}
.bold{
    font-weight: bold;
}
.img{
    border-radius: 70px;
    cursor: pointer;
    
}
.img:hover{
    box-shadow: 2px 3px 4px rgb(64, 94, 140);
}
.input{
  outline: none;
  margin: 0;
  border-bottom: 1px solid rgb(101, 101, 101);
  border-radius: 5px;
}
.footer{
    padding: 10px;
    background: rgb(252, 246, 242);
    text-align: center;
}
.block{
    margin-top: 20px;
}
.content-friends{

    margin: 0 auto;
    display: grid;
    align-items: center;
    justify-items: center; 
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px
}
.user{
    font-size: 16px;
    text-align: center;
}
.container-newsline{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-newsline{
    padding: 8px;
    width: 60%;
    margin: 20px;
    font-size: 18px;
}
.btn-newsline{
    height: 40px;
}
.content-newsline{

    width: 75%;
    margin-left: 100px;
  
}
.content-newsline-icons{
    display: flex;
    align-items: center;
}
.block-newsline {
    border-radius: 5px;
    background: rgb(249, 249, 249);
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    margin: 5px;

}
.icon-newsline{
    padding: 5px;
}
.comment-newsline{
    padding-left: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.box-newsline{
    display: flex;
    align-items: center;
    justify-content: center;
}

.file{
    width: 109px;
    margin: 0px 20px;
}
.load{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);
    /*change these sizes to fit into your project*/
    width:100px;
    height:100px;
  }
  .load hr{border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spin 2s ease infinite}
  
  .load :first-child{background:#19A68C;animation-delay:-1.5s}
  .load :nth-child(2){background:#F63D3A;animation-delay:-1s}
  .load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
  .load :last-child{background:#193B48}
  
  @keyframes spin{
    0%,100%{transform:translate(0)}
    25%{transform:translate(160%)}
    50%{transform:translate(160%, 160%)}
    75%{transform:translate(0, 160%)}
  }
  
