@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
.main{
    background: rgb(250, 250, 250);
    height: 90vh;
}

.input{
    width: 250px;

}
.btn-register{
    margin-top: 20px;
    background: rgb(182, 234, 255);
    margin-right: 10px;
}
.btn-login{
    margin-top: 20px;
    margin-right: 10px;
    background: rgb(175, 253, 161);
}
.content{
    text-align: center;
    padding: 30px;
}
.btn{
    margin: 5px;
}
.error-data{
    border-color: red;
}
/* Стилизация страницы контакта */
.personal-page{
    margin: 0px;
}
.header{
    background: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}
.header-setting-menu{
    display: flex;
    width: 280px;
    justify-content: space-between;
    align-items: center;
  
}
.container{
    display: flex;
    width: 90vw;
    justify-content: center;

}
.select{
    width: 250px;
}
.active{
    color: green;
    font-size: 16px;
}

.menu{
    width: 25%;
    display: flex;
    flex-direction: column;
    font-size: 22px;

}
.menu-link{
    margin: 25px 15%;
}
.menu-link div{
    margin-bottom: 22px;
    cursor: pointer;

}
.menu-link :hover{
    color: rgb(3, 5, 106);   
    font-weight: bold;
}
.body{
    padding-top: 30px;
    width: 100%;
    padding-right: 20px;

}
.body-img-logo{
    border-radius: 10px;
    width: 300px;
}
.exit{
    cursor: pointer;
    font-weight: bold;
}
.body-content{
    display: flex;

    width: 100%;
 
    padding: 30px;
    margin-bottom: 20px;
    margin: 0 auto;
}
.body-name{
    padding-left: 20px;
}
.edit-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.edit{
    cursor: pointer;
    
}
.edit-table{
   
    width: 55%;
    margin: 0 auto;
    text-align: center;

}
.table{
    width: 90%;
    border: 1px solid rebeccapurple;
    text-align: center;
}
.table-main{
    width: 70%;
    margin: 0 auto;
    font-size: 17px;
   
}

.contact-info{
    width: 100%;
}
.tr-main{
    background: #f5f5f5;

}
td{
    text-align: center;
    padding: 8px;
    border-radius: 10px;
}
.name-person{
    padding: 0 20px;
    font-size: 24px;
    font-weight: bold;
}
.status {
    color: rgb(151, 151, 151);
    padding-left: 20px;
    margin-top: 10px;
    cursor: pointer;
}
.body-status{
    padding-left: 20px;
    margin-top: 10px;
}
.bold{
    font-weight: bold;
}
.img{
    border-radius: 10px;
    cursor: pointer;
    
}

.input{
  outline: none;
  margin: 0;
  border-bottom: 1px solid rgb(101, 101, 101);
  border-radius: 5px;
}
.footer{
    padding: 10px;
    background: rgb(252, 246, 242);
    text-align: center;
}
.block{

    margin: 0auto;
}
.content-friends{

    margin: 0 auto;
    display: grid;
    align-items: center;
    justify-items: center; 
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap: 20px;

}
.content-friends-item{
    border: 1px solid rgb(233, 233, 233);
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  .content-friends-item:hover{
    box-shadow: 1px 2px 10px rgb(238, 238, 238);
}
.user{
    font-size: 20px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
.container-newsline{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-newsline{
    padding: 8px;
    width: 60%;
    margin: 20px;
    font-size: 18px;
}
.btn-newsline{
    height: 40px;
    background: rgb(53, 108, 247);
    color: white;
    font-size: 16px;
}

.file{
    width: 109px;
    margin: 0px 20px;
}
.load{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);
    /*change these sizes to fit into your project*/
    width:100px;
    height:100px;
  }
  .load hr{border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spin 2s ease infinite}
  
  .load :first-child{background:#19A68C;animation-delay:-1.5s}
  .load :nth-child(2){background:#F63D3A;animation-delay:-1s}
  .load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
  .load :last-child{background:#193B48}
  
  @keyframes spin{
    0%,100%{transform:translate(0)}
    25%{transform:translate(160%)}
    50%{transform:translate(160%, 160%)}
    75%{transform:translate(0, 160%)}
  }
  .attach{
    cursor: pointer;
    padding: 0 10px;
  }

  .post-header{
    display: flex;
    background: #fafafa;}
   
.content-newsline{
    width: 70%;
    margin: 0 auto;
}
  
  .content-newsline-post{
    border: 1px solid rgb(215, 215, 215);
    margin-bottom: 10px ;
  }
  .post-header-logo{
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .post-header-logo img{
    border-radius: 30px;
  }
  .post-header-body{ 
    padding: 20px;
   
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .post-body-name{
    font-size: 20px;
    font-weight: bold;
  }
  .post-body-email{
    color: rgb(203, 203, 203);
    padding-left: 20px;
    font-size: 18px;
  }
  .post-time-delete{
    display: flex;

    flex-direction: column;
    padding:  0 20px;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    color: #8e8e8e;
  }
  .post-time-edit{
    display: flex;
    align-items: center;
  }
  .post-body{
    display: flex;
    justify-content: center;
    padding: 5px 90px;
    margin: 0 auto;
  }
  .post-body img{
    border-radius: 5px;
    
  }
  .post-body-img {
    width: 50%;
    margin: 20px;
    
  }
  .post-body-delete-img{
    cursor: pointer;
  
    padding: 6px;
    background: rgb(235, 235, 235);
  }
  .post-body-delete-img:hover{
    transition: all 1s ease-out;
  
    padding: 6px;
    background: rgb(249, 202, 202);
  }
  .post-body-comment{
    font-size: 18px;
    padding: 5px 12%;
    
  }
  .post-footer-like{
    cursor: pointer;
  }
  .post-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    background: #fafafa;
  }
  .post-footer-comment{
    font-style:italic;
    cursor: pointer;
  }
.chat{
    display: flex;
    width: 100%;
    height: 80vh;
    
}
.chat-friends{
    width: 30%;
    font-size: 20px;
    background: #c1d3d0;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.chat-message{
    width: 70%;
    border: 3px solid rgb(216, 216, 216);
    padding: 20px;
}
.block-message{
    font-size: 20px;
    height: 60vh;

    overflow-y:scroll;
}
.mess{ 
    background: rgb(254, 254, 254);
    border: 1px solid rgb(191, 191, 191);
    font-size: 20px;
    padding: 5px ;
    padding-left: 20px;
    border-radius: 10px;
}
.chat-user{
    cursor: pointer;

}
.chat-send-input{
    width: 70%;
    margin-top: 20px;
    font-size: 20px;
}
.chat-send-btn{
    height: 40px;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 20px;
}
.message-send{
    display: flex;
    justify-content: center;
}
.name{
    font-size: 14px;
    color: #8e8e8e;
}